.logo{
    width: 90px;
     height: 90px;

}

.navbar{
    background-color: black;
}

.navbar-nav li{
    margin-left: 50px;
}
.navbar-nav li a:hover{
text-decoration: underline;
}
.footer{
    background: #000!important;
}

@media screen and (min-width:768px){
    .social-media-container{
        margin-left: 9%;
    }
}